div{
    height: 100px;
    width: 200px;
    background-color: bisque;
    border: 2px solid black;
}
h1{
    width: 400px;
    height: 50px;
    background-color: red;
    /* border-width: 2px;
    border-right: 3px;
    border-color: black;
    border-style: dashed; */
    border: 2px dashed rgb(1, 109, 1);
    text-align: center;
}