*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
   height: 650px;
    border: 2px solid #ffff;
    gap: 5px;
    display: grid;
    grid-template-areas: 
                        "hr hr hr hr hr" 
                         "sbr main main main main" 
                         "sbr main main main main"
                          "sbr main main main main"
                           "sbr main main main main"
                            "sbr main main main main"
                             "sbr main main main main"
                              "sbr main main main main"
                            "ftr ftr ftr ftr ftr";
}
.box{
    border: 2px solid rgb(255, 255, 255);
}
#box1{
    grid-area: hr;
    background-color: blue;
}
#box2{
    grid-area: sbr;
    background-color: brown;
}
#box3{
    grid-area: main;
    background-color: aqua;

}
#box4{
    grid-area: ftr;
    background-color: gold;
}